[submodule "QuorumStudio/Templates/Games/SkyHopper"]
	path = QuorumStudio/Templates/Games/SkyHopper
	url = https://github.com/qorf/SkyHopper.git
[submodule "QuorumStudio/Templates/Games/PettingZooHero"]
	path = QuorumStudio/Templates/Games/PettingZooHero
	url = https://github.com/qorf/PettingZooHero
[submodule "QuorumStudio/Templates/Games/TriggerAnimation"]
	path = QuorumStudio/Templates/Games/TriggerAnimation
	url = https://github.com/qorf/TriggerAnimation.git
[submodule "QuorumStudio/Templates/Games/AccessibleAnimation"]
	path = QuorumStudio/Templates/Games/AccessibleAnimation
	url = https://github.com/qorf/AccessibleAnimation.git
