QuorumStudioPlugins/.gradle/
QuorumStudioPlugins/.idea/workspace.xml
QuorumStudioPlugins/.idea/tasks.xml
QuorumStudioPlugins/.idea/gradle.xml
QuorumStudioPlugins/.idea/libraries
QuorumStudioPlugins/.idea/modules.xml
QuorumStudioPlugins/.idea/gradle.xml
QuorumStudioPlugins/build.gradle
QuorumStudioPlugins/build/
!gradle-wrapper.jar
**.DS_Store
QuorumStudio/Java/
