[submodule "QuorumStudio/Templates/Games/SkyHopper"]
	path = QuorumStudio/Templates/Games/SkyHopper
	url = https://github.com/qorf/SkyHopper.git
[submodule "QuorumStudio/Templates/Games/PettingZooHero"]
	path = QuorumStudio/Templates/Games/PettingZooHero
	url = https://github.com/qorf/PettingZooHero
